@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

div .containerHome {
  flex-flow: row wrap;
  margin-left: 34.17%;
  position: absolute;
  width: 51.67%;
  left: 5.08%;
  top: 15%;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

div .containerHome hr {
  background-color: #13c081;
  margin: 0;
  padding: 0;
  position: relative;
  width: 51.67px;
  height: 4px;
  border: none;
}

div .containerHome h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

div .containerHome h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

div .infoDiv {
  display: flex;
  height: 19.27%;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  align-items: center;
}

div .infoDiv img {
  width: 25%;
  height: 7em;
  left: 0px;
  top: 0px;
  border-radius: 10px 0px 0px 10px;
}

div .subInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 3%;
}

div .infoDiv h4 {
  display: flex;
  margin: 1px 0px 1px 0px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

div .infoDiv h6 {
  display: flex;
  margin: 1px 0px 1px 0px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

div .imgAndSubway {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
}

div .containerHome button {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  margin-left: auto;
  padding: 10px 15px;

  margin-top: 20px;

  color: #13c081;
  background-color: white;

  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 36px;
  outline: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
