@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

div .containerMyAccount {
  margin-left: 34.17%;
  position: absolute;
  height: auto;
  left: 5.08%;
  top: 15%;
  font-family: "Montserrat", sans-serif;
}
